# Lab 05 - Extended Exercises on Model Evaluation
## Predicting student performance

In [97]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import scipy as sp

# Data directory
DATA_DIR = "./../../data/"

In [98]:
import requests

exec(requests.get("https://courdier.pythonanywhere.com/get-send-code").content)

npt_config = {
    'session_name': 'lab-05',
    'session_owner': 'mlbd',
    'sender_name': input("Your name: "),
}

Your name:  Paola

## Introduction
The data has already been cleaned and it comes from 29 students in 3 different groups in a course of 26 weeks.

You already used this data in week 03. 

In this lab you will explore different models to predict the quiz grade.

In [99]:
# Load data
df= pd.read_csv(f'{DATA_DIR}grades_in_time.csv.gz')
send(len(df), 0)
df.head()

   student  week  studying_hours  group  quiz_grade
0        0     0            39.9      3         6.1
1        0     1            32.4      3         7.0
2        0     2            17.5      3         6.9
3        0     3            16.0      3         7.0
4        0     4            15.9      3         7.2

In [100]:
df.describe(include='all')

          student        week  studying_hours       group  quiz_grade
count  810.000000  810.000000      810.000000  810.000000  810.000000
mean    14.500000   13.000000       10.050617    1.933333    6.931975
std      8.660789    7.793693        8.270041    0.772199    1.336888
min      0.000000    0.000000        1.000000    1.000000    1.200000
25%      7.000000    6.000000        5.700000    1.000000    6.400000
50%     14.500000   13.000000        7.800000    2.000000    7.200000
75%     22.000000   20.000000       11.100000    3.000000    7.800000
max     29.000000   26.000000       64.000000    3.000000   10.100000

# Task 1: Predict the quiz grade using the studying hours and the group.
----------
### 1.1 Split the data. 80% to train and the rest to test.

In [103]:
X =  # Missing code
y =  # Missing code

X_train, X_test, y_train, y_test = # Missing code

### 1.2 Preprocess the data
Recall that group is a categorical feature.

Hint: Use ColumnTransformer.

In [ ]:
preprocessor = ColumnTransformer([
    ('categorical', # Missing code,
    ('numerical', # Missing code
])
â€‹
preprocessor.fit_transform(X_train)

### 1.3 Create a pipeline (including the preprocessing steps) to predict the quiz grade using the studying hours and the group.

1. Use the model ElasticNet for the regression task.
2. Calculate the mean sqaured error of the prediction. 


Hint: Integrate the ColumnTransformer as a pipeline step

In [ ]:
pipe = Pipeline([
    ('preprocessor', # Missing code),
    ('model', # Missing code )
])

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
error = # Missing code 
send(f"Mean Squared Error = {error}", 13)
print(f"Mean Squared Error = {error}")

### 1.4 Compute the cross validation score

In [ ]:
pipe = Pipeline([
    ('preprocessor', # Missing code),
    ('model', # Missing code )
])

cvscore = # Missing code
send(cvscore, 14)

### 1.5 Does the score in 1.3 differ from the score in 1.4? Why?

In [ ]:
answer = " Missing answer "
send(answer, 15)

### 1.6 What is wrong with data split?

In [ ]:
answer = " Missing answer "
send(answer, 16)

## Task 2: Time Validation

### 2.1 Train with the first 25 weeks and predict week 26.

Hint: You may re-use your pipeline

In [67]:
X_train = # Missing code
y_train = # Missing code

X_test = # Missing code
y_test = # Missing code

In [68]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)
error = # Missing code
send(f"Mean Squared Error = {error}", 21)
print(f"Mean Squared Error = {error}")

Mean Squared Error = 1.86

### 2.2 Time splits
Would the model also be able to predict week 16 from all the previous weeks? 

What about week 5 from the previous weeks?

Create all the data splits so that the model predicts the next week given the information from the previous weeks. 

You may start taking the first 4 weeks to predict the 5th, then taking the first 5 weeks to predict the 6th, etc.

In [69]:
time_splits = # Missing code

### 2.3 Using the previously created splits, calculate the cross validation score

Hint: You may pass the splits with the parameter cv to the cross vadation function

In [ ]:
errors = (-1)*cross_val_score(pipe, X, y, cv = # Missing code, scoring = # Missing code)
cvscore = np.mean(errors)
send(cvscore, 23)

### 2.4 How does the error differ from the error of 2.1? Why?

In [ ]:
answer = " Missing answer "
send(answer, 24)

## Task 3: Nested cross-validation

Now imagine we want to optimize the hyperparameters for the model.

We will "ignore" time for now and take the mean studying hours and quiz grade.

In [72]:
df_agg = df.groupby('student').mean()

X = df_agg[['studying_hours', 'group']]
y = df_agg['quiz_grade']

### 3.1 Gridsearch with cross validation

ElasticNet has two interesting parameters: alpha and l1_ratio.

Run a GridSearch to explore the following values:
* alpha = 0.1 and 1
* l1_ratio = 0.1, 0.5 and 1

What is the best score (smallest error)?

In [ ]:
param_grid = # Missing code

search = # Missing code
search.fit(X,y)

In [ ]:
(-1)*search.best_score_

### 3.2 Why is the error from the best model in 3.1 biased?

In [ ]:
answer = " Missing answer "
send(answer, 32)

### 3.3 Improve 3.1 to have an unbiased estimation of the generalization error

Hint: Use nested cross-validation

In [104]:
# Missing code