# Lab 03 - Extended Exercises on Mixed Models

We recommend using Noto for this lecture tutorial, where we've already installed the dependencies of the pymer4 package and statsmodels.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Import the linear regression model class
from pymer4.models import Lm

# Import the lmm model class
from pymer4.models import Lmer

# Import Gaussian modeling
import statsmodels.formula.api as smf

import scipy as sp
from scipy import stats

# Data directory
DATA_DIR = "./../../data/"

In [2]:
import requests

exec(requests.get("https://courdier.pythonanywhere.com/get-send-code").content)

npt_config = {
    'session_name': 'lab-03',
    'session_owner': 'mlbd',
    'sender_name': input("Your name: "),
}

Your name:  Paola

## Introduction
The data has already been cleaned and it comes from 29 students in 3 different groups in a course of 26 weeks.

In this lab you will explore different models to explain the quiz grade.

In [5]:
# Load data
df= pd.read_csv(f'{DATA_DIR}grades_in_time.csv.gz')
send(len(df),0)
df.head()

   student  week  studying_hours  group  quiz_grade
0        0     0            39.9      3         6.1
1        0     1            32.4      3         7.0
2        0     2            17.5      3         6.9
3        0     3            16.0      3         7.0
4        0     4            15.9      3         7.2

In [4]:
df.describe(include='all')

          student        week  studying_hours       group  quiz_grade
count  810.000000  810.000000      810.000000  810.000000  810.000000
mean    14.500000   13.000000       10.050617    1.933333    6.931975
std      8.660789    7.793693        8.270041    0.772199    1.336888
min      0.000000    0.000000        1.000000    1.000000    1.200000
25%      7.000000    6.000000        5.700000    1.000000    6.400000
50%     14.500000   13.000000        7.800000    2.000000    7.200000
75%     22.000000   20.000000       11.100000    3.000000    7.800000
max     29.000000   26.000000       64.000000    3.000000   10.100000

# Task 1: Linear Model
----------
### 1.1 Preprocess the data to run a regression model to explain the effect of studying hours on quiz grade.

### 1.2 Explain your preprocessing steps

In [5]:
answer = """
Your answer here.
"""

send(answer, 12)

### 1.3 Run a regression model to explain the effect of studying hours on quiz grade.

In [ ]:
model_str = """Write your model here. """ 
send(model_str, 13)
# Add the data and family
model = Lm(model_str, data=, family= )

# Fit the models
print(model.fit())

### 1.4 What model family (poisson, logistic, etc) did you use and why?

In [6]:
answer = """
Your answer here.
"""

send(answer, 14)

### 1.5 Interpret the regression results. 
Do the variables have a positive or negative effect? Is it significant?

In [19]:
answer = """
Your answer here.
"""

send(answer, 15)

### 1.6 Is this an appropriate method? Explain why or why not.

In [20]:
answer = """
Your answer here.
"""

send(answer, 16)

# Task 2: Linear Model with Fixed Effects
----------
### 2.1  Run a regression model to explain the effect of studying hours on quiz grade. Add fixed effects for group.

In [220]:
model_str = """Write your model here """
send(model_str, 21)
# Add the data and family
model = Lm(model_str, data=, family= )

# Fit the models
print(model.fit())

### 2.2 Interpret the regression results. 
What changed? What does it mean to have group fixed effects?

In [128]:
answer = """
Your answer here.
"""

send(answer, 22)

# Task 3: Linear Model with Random Effects
----------
### 3.1  Run a regression model to explain the effect of studying hours on quiz grade. Add random intercept for group.

In [ ]:
model_str = """Write your model here """
send(model_str, 31)
# Add the data and family
model = Lmer(model_str, data=, family= )

# Fit the models
print(model.fit())

### 3.2 Plot the regression lines
Hint: You may use model.plot

### 3.3  Run a regression model to explain the effect of studying hours on quiz grade. Add slope for group.

In [ ]:
model_str = """Write your model here """
send(model_str, 33)
# Add the data and family
model = Lmer(model_str, data=, family= )

# Fit the models
print(model.fit())

### 3.4 Plot the regression lines
Hint: You may use model.ranef

### 3.5  Run a regression model to explain the effect of studying hours on quiz grade. Add random intercept and slope for group.

In [ ]:
model_str = """Write your model here """
send(model_str, 35)
# Add the data and family
model = Lmer(model_str, data=, family= )

# Fit the models
print(model.fit())

### 3.6 Plot the regression lines

### 3.7 Interpret the regression results. 
What changed? What does it mean to have group random effects?

In [230]:
answer = """
Your answer here. 
"""

send(answer, 37)

# Task 4: Mixed Model with Time Interaction 
----------
### 4.1  Lastly, run a regression model to explain the effect of studying hours on quiz grade. Add random intercept and slope for groups AND interaction between the number of stuyding hours and time (weeks).

In [ ]:
model_str = """Write your model here """
send(model_str, 41)
# Add the data and family
model = Lmer(model_str, data=, family= )

# Fit the models
print(model.fit())

### 4.2 Interpret the regression results.

In [38]:
answer = """
Your answer here.
"""

send(answer, 42)